/* Global variables */
$block-padding: 3.125%;

/* Common layout units */


/* Colors */
$white: rgba(255, 255, 255, 1);
$dark-grey: rgba(51, 51, 51, 1);
$med-grey: rgba(230, 230, 230, 1);
$light-grey: rgba(240, 240, 240, 1);
$dark-green: rgba(45, 134, 77, 1);
$med-green: rgba(63, 167, 87, 1);
$light-green: rgba(74, 183, 103, 1);

/* Fonts */
$title-stack: 'Inder', sans-serif;
$std-text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);


/* Custom mixins */